<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="javascripts/script.js"></script>
    <title>Khaos Legion</title>
  </head>
  <body>
    <div id="header">
      <h2>Khaos Legion</h2>
      <p>do great.</p>
    </div>
    <div id="wrapper">
      <div id="nav">
        <a href="/">Home</a>
      </div>
        <div id="container">

        </div>
    </div>
  </body>
</html>