@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);

#wrapper {
	margin: 0 auto;
	width: 70%;
	padding: 10px;
}

h2 {
	font-family: 'Old Standard TT', serif;
	font-weight: bold;
	font-size: 4em;
}

#header > p {
	font-family: 'Old Standard TT', serif;
	font-style: italic;
	font-size: 1.6em;
}

#nav a {
	font-family: 'Old Standard TT', serif;
	font-style: italic;
	font-size: 1em;
	color: #000;
}

#nav {
	display:inline;
}

#links {
	width:20%;
	display:inline-block;
}

#links a {
	display:block;
	margin: 0;
	padding: 0;
}

#header {
/*	padding:20px; */
	text-align: center;
}

.mainImg {
	width:590px;
	height: 250px;
	border: 1px, 0, 1px , 0;
	border-style: dotted;
	border-width: 1px;
	margin-top: 40px;
}